/******************************************************************
Site Name:
Author: Jack Machin

Stylesheet: Layout Stylesheet
******************************************************************/
.site {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

    .header{
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }

    .navigation {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }

    .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
    }

    .footer {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
    }

.container {
    display: flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    max-width:77.5em;
    margin:0 auto;
}

    .container-header{
        justify-content:space-between;
    }

        .logo-container {
            flex-basis:25%;
            padding: 0 1em;
        }

        .sidebar-header {
            flex-basis:25%;
            padding: 0 1em;
        }

    .nav {}

    .full {
        flex:1;
        padding: 1em 0 0 1em;
    }

    .main {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
        padding: 0 1em;
    }

    .sidebar-main {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 0 1em;
    }
