/******************************************************************
Site Name: Unite Invest
Author: Jack Machin

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $open-sans;
	font-size: 12px;;
	line-height: 1.5;
	color: $text-color;
	background-color: $body-bg;
    -webkit-font-smoothing: antialiased;
}

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

        .row {
            margin:0 -10px;
        }

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
    text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
        text-decoration: underline;
	}

	/* on click */
	&:active {}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
h2,
h3,
h4,
h5 {
	text-rendering: optimizelegibility;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.25;
    color: #242a30;

	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2 {
    font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $header-bg;
}

	.logo {

		a {}

	}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

body.page-navbar-fixed-top {
    padding-top: 70px
}

body.page-navbar-fixed-top-sm {
    padding-top: 51px
}

.header.navbar {
    border-bottom: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.header.navbar .navbar-nav>li>a {
    font-size: 12px;
    line-height: 20px;
    color: #2d353c;
    font-weight: 600;
    padding: 25px 15px
}

.header.navbar .navbar-nav>li.active>a,.header.navbar .navbar-nav>li>a:focus,.header.navbar .navbar-nav>li>a:hover {
    background: 0 0
}

.header .navbar-brand {
    padding: 25px 15px
}

.brand-logo {
    float: left;
    border: 15px solid;
    border-color: #4DCACA #31A3A3 #1D8888;
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 4px
}

.brand-logo+.brand-text {
    margin-left: 42px;
    color: #2d353c;
    font-size: 20px;
    line-height: 20px;
    display: block
}

.navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.header.navbar.navbar-default {
    background: #fff
}

.header.navbar.navbar-transparent {
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.header.navbar.navbar-inverse .navbar-nav>li>a,.header.navbar.navbar-transparent .navbar-nav>li>a {
    color: #8F8E8E
}

.header.navbar.navbar-inverse .brand-text,.header.navbar.navbar-transparent .brand-text {
    color: #fff
}

.navbar-inverse .navbar-toggle,.navbar-transparent .navbar-toggle {
    border-color: #8F8E8E
}

.navbar-inverse .navbar-toggle .icon-bar,.navbar-transparent .navbar-toggle .icon-bar {
    background: #8f8e8e
}

.header.navbar.navbar-small {
    border-bottom: none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2)
}

.header.navbar.navbar-small .navbar-brand,.header.navbar.navbar-small .navbar-nav>li>a {
    padding: 15px
}

.header.navbar.navbar-transparent.navbar-small {
    background: #fff
}

.header.navbar.navbar-transparent.navbar-small .brand-logo+.brand-text,.header.navbar.navbar-transparent.navbar-small .navbar-nav>li>a {
    color: #2d353c
}

.navbar-small .navbar-toggle {
    border-color: #ddd;
    margin-top: 8px;
    margin-bottom: 8px
}

.navbar-small .navbar-toggle .icon-bar {
    background: #888
}

.navbar-nav>li.dropdown:focus>.dropdown-menu,.navbar-nav>li.dropdown:hover>.dropdown-menu {
    display: block
}

.navbar-nav .dropdown-menu {
    background: #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
    padding: 0;
    margin-top: 0;
    border: none
}

.navbar-nav .dropdown-menu>li>a {
    color: #999;
    padding: 10px 15px
}

.navbar-nav .dropdown-menu>li.active>a,.navbar-nav .dropdown-menu>li>a:focus,.navbar-nav .dropdown-menu>li>a:hover {
    background: #222;
    color: #00acac
}

.navbar-nav .dropdown-menu>li+li {
    border-top: 1px solid #444
}

.logo-container {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.brand-logo {
    float: left;
    border: 15px solid;
    border-color: #4DCACA #31A3A3 #1D8888;
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 4px;
}

.brand-text {
    margin-left: 42px;
    color: #2d353c;
    font-size: 20px;
    line-height: 20px;
    display: block;
}

.home-content {
    z-index: 1020;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #8F8E8E;
    margin-top: -120px;
    padding: 0 15px;
    text-align: center;
}

.skills .skills-name {
    font-size: 12px;
    color: #242a30;
    margin-bottom: 5px;
    font-weight: 600
}

.progress {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 15px;
    overflow: visible;
    background: #e2e7eb;
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress .progress-bar {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: relative
}

.progress .progress-bar .progress-number {
    position: absolute;
    right: 0;
    bottom: 100%;
    background: #333;
    padding: 2px 6px 1px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: block;
    line-height: 16px
}

.progress .progress-bar .progress-number:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -10px;
    border: 5px solid transparent;
    border-top-color: #333
}

.progress-bar.progress-bar-success {
    background: #00acac
}

.progress.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px
}

.progress-xs {
    height: 5px
}

.progress-xs .progress-bar {
    line-height: 5px
}

.progress-sm {
    height: 10px
}

.progress-sm .progress-bar {
    line-height: 10px
}

.progress-lg {
    height: 30px
}

.progress-lg .progress-bar {
    line-height: 30px
}

.progress-bar {
    background: #348fe2;
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress-bar.progress-bar-success {
    background-color: #00acac
}

.progress-bar.progress-bar-info {
    background-color: #49b6d6
}

.progress-bar.progress-bar-warning {
    background-color: #f59c1a
}

.progress-bar.progress-bar-danger {
    background-color: #ff5b57
}

.progress-bar.progress-bar-inverse {
    background-color: #2d353c
}

.progress-bar.progress-bar-purple {
    background-color: #727cb6
}

.team {
    text-align: center;
    padding: 0 30px
}

.team .image {
    display: inline-block;
    border-radius: 300px;
    overflow: hidden
}

.team .info {
    margin-top: 15px
}

.team .image img {
    border-radius: 300px
}

.team .name {
    margin-bottom: 5px
}

.team .title {
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #00acac;
}

.team p {
    margin-bottom: 15px
}

.team .social a {
    border-radius: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 40px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    color: #ccc
}

.team .social a+a {
    margin-left: 5px
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
    margin:0;
    list-style-type: none;
    padding: initial;

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 0.75em;
            text-align: center;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover,
            &:focus {}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
            display: none;
            margin:0 auto;
            list-style-type: none;
            padding: initial;

			li {
                width:100%;

				a {
                    background-color: $light-gray;
                    color: $blue;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .top-nav */

/*********************
POSTS & CONTENT STYLES
*********************/

.content {
    padding: 60px 15px 75px
}

.content .content-title {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
    margin-top: 0
}

.content .content-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    background: #242a30;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -20px
}

.content .content-desc {
    text-align: center;
    margin-bottom: 60px;
    color: #242a30
}

.content.has-bg {
    padding-bottom: 60px;
    overflow: hidden;
    position: relative
}

.content.has-bg .content-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.content.has-bg .content-bg img {
    max-width: 100%
}

.content.has-bg .content-title:after {
    background: #fff
}

.content.has-bg .content-bg:before {
    content: '';
    background: url(http://www.uniteinvest.co.uk/wp-content/uploads/2017/02/content-bg-cover.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.content.has-bg .container {
    position: relative
}

.content.has-bg .container .content-title {
    color: #fff;
}

.content.has-bg .container .content-desc {
    color: rgba(255,255,255,.6);
}

.content.has-bg h1,
.content.has-bg h2,
.content.has-bg h3,
.content.has-bg h4,
.content.has-bg h5,
.content.has-bg h6 {
    color: #fff;
    text-align:center;
}

    .content.has-bg h1 {
        font-size: 64px;
        font-weight: 600;
    }


    .bg-silver-lighter {
        background: #f4f6f7;
    }

    .content-title {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 15px;
        margin-top: 0;
    }

        .content-title:after {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            background: #242a30;
            height: 2px;
            bottom: 0;
            left: 50%;
            margin-left: -20px;
        }

    .content-desc {
        text-align: center;
        margin-bottom: 60px;
        color: #242a30;
    }

    .hentry {

        header {}

        footer {

            p {}
        }

    } /* end .hentry */

    .single-title,
    .page-title,
    .entry-title {
        margin: 0;
    }

    .single-title {}

    .page-title {}

    .entry-title {}

    .archive-title {}

    /* want to style individual post classes? Booya! */
    .post-id {}         /* post by id (i.e. post-3) */
    .post {}            /* general post style */
    .page {}            /* general article on a page style */
    .attachment {}      /* general style on an attatchment */
    .sticky {}          /* sticky post style */
    .hentry {}          /* hentry class */
    .category-slug {}   /* style by category (i.e. category-videos) */
    .tag-slug {}        /* style by tag (i.e. tag-news) */

    /* post meta */
    .byline {

        time {}
    }

    /* entry content */
    .entry-content {

        p {}

        ul,
        ol,
        table,
        dl {}

        ul,
        ol {
            margin-left: 2em;

            li {}

        }

        ul {
            list-style-type:disc;

            li {}

        }

        ol {
            list-style-type: decimal;

            li {}

        }

        table {
            width: 100%;
            border: 1px solid $gray;

            caption {
                margin: 0 0 7px;
                font-size: 0.75em;
                color: $meta-gray;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

            tr {
				border-bottom: 1px solid $gray;

                &:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

        blockquote {
            padding: 0 0 0 0.75em;
            border-left: 3px solid $blue;
            font-style: italic;
            color: $meta-gray;

            &:before {}

        }

        dl {}

        dt {}

        dd {
            margin-left: 0;
            font-size: 0.9em;
            color: #787878;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        /*
        image alignment on a screen this size may be
        a bit difficult. It's set to start aligning
        and floating images at the next breakpoint,
        but it's up to you. Feel free to change it up.
        */
        .alignleft, img.alignleft {}
        .alignright, img.alignright {}
        .aligncenter, img.aligncenter {}

        .size-auto,
        .size-full,
        .size-large,
        .size-medium,
        .size-thumbnail {
            max-width: 100%;
            height: auto;
        }

        pre {
            background: $black;
            color: $light-gray;
            font-size: 0.9em;
            padding: 1.5em;
            border-radius: 3px;
        }

    } /* end .entry-content */

    .wp-caption {
        max-width: 100%;
        background: #eee;
        padding: 5px;

        /* images inside wp-caption */
        img {
            max-width: 100%;
            margin-bottom: 0;
            width: 100%;
        }

        .wp-caption-text {
            font-size: 0.85em;
            margin: 4px 0 7px;
            text-align: center;
        }

    } /* end .wp-caption */

    /* image gallery styles */
    .gallery {

        dl {

            a {}

            img {}

        }

        dt {}

        dd {}

    } /* end .gallery */

    /* gallery caption styles */
    .gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

.pricing-table {
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center
}

.pricing-table>li {
    float: left;
    padding: 10px
}

.pricing-table.col-4>li {
    width: 25%
}

.pricing-table.col-3>li {
    width: 33.33333%
}

.pricing-table .pricing-container {
    overflow: hidden;
    border-radius: 6px;
    background: #f0f3f4;
    box-shadow: 0 3px #b6c2c9
}

.pricing-table h3 {
    background: #242a30;
    margin: 0;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px
}

.pricing-table .features {
    list-style-type: none;
    margin: 0;
    padding: 0 30px
}

.pricing-table .features>li {
    padding: 10px 0
}

.pricing-table .features>li+li {
    border-top: 1px solid #e2e7eb
}

.pricing-table .price {
    width: 100%;
    display: table;
    background: #2d353c
}

.pricing-table .price .price-figure {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    height: 80px
}

.pricing-table .price .price-number {
    font-size: 28px;
    color: #00a3a3;
    display: block
}

.pricing-table .price .price-tenure {
    font-size: 12px;
    color: #fff;
    color: rgba(255,255,255,.7);
    display: block;
    text-align: center
}

.pricing-table .footer {
    padding: 15px 20px
}

.pricing-table .highlight {
    padding: 0;
    margin-top: -30px
}

.pricing-table .highlight .features>li {
    padding: 15px 0
}

.pricing-table .highlight h3 {
    padding: 20px 30px
}

.pricing-table .highlight .price .price-figure {
    height: 90px
}

.pricing-table .highlight .price .price-number {
    color: #fff
}

.pricing-table .highlight h3,
.pace-progress {
    background: #008a8a;
}
.pricing-table .highlight .price {
    background: #00acac;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
    padding: 60px 0;
    background: #242a30;
    text-align: center;
    box-shadow: inset 0 100px 80px -80px rgba(0,0,0,.7);
    -webkit-box-shadow: inset 0 100px 80px -80px rgba(0,0,0,.7)
}

    .footer-brand {
        font-size: 24px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 30px;
    }

        .footer-brand-logo {
            display: block;
            margin: 0 auto 10px;
            width: 0px;
            border: 20px solid;
            border-color: #4DCACA #31A3A3 #1D8888;
            border-radius: 4px;
        }

       .copyright {}

    .social-list {
        margin: 30px 0 0;
        font-size: 20px;
    }
